# Python
**/*.py[cod]
**/__pycache__/
*.so
.Python
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Project specific
secrets.secrets
data/tsplib
data/train
data/run-*/
**/old/

# Generated outputs
data/splits.json
data/results/
data/plots/
models/

# LaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
